<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/url-search-params.js"></script>
    <script src="js/cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <link rel="stylesheet" type="text/css" href="base.css">
    <link rel="stylesheet" type="text/css" href="loader.css">
    <title></title>
</head>

<body>
    <div id="app">
        <el-input v-model.trim="q" @change="getEvents" placeholder="Enter an Artist, Event, Venue or City" icon="search" type="primary"></el-input>
        <template>
            <div class="block">
                <el-date-picker v-model="dateRange" type="daterange" align="right" placeholder="Pick a date range" :picker-options="pickerOptions2">
                </el-date-picker>
            </div>
        </template>
        <template v-if="city">
            <el-checkbox v-model="searchInPortalcity">Search in {{city}}</el-checkbox>
        </template>
        <el-switch v-model="showTfEvents" on-color="#17c284" off-color="#1976d2" on-text="TicketFly Events" :width=140 off-text="Portal Events">
        </el-switch>

<!-- <template>
  <el-select v-model="checkedVenues" multiple placeholder="Select">
    <el-option
      v-for="item in venues"
      :key="item.id"
      :label="item.name"
      :value="item.id">
      <span style="float: left">{{ item.name }}</span>
      <span style="float: right;" v-if="item.image"><img :src="item.image.squareSmall.path"></span>
    </el-option>
  </el-select>
</template>
 -->


<div style="width: 500px" v-if="venues.length">
  <el-carousel arrow="always" :interval="54000" indicator-position="none" type="card"  height="145px">
    <el-carousel-item v-for="venue in venues" :key="venue.id">
    <el-tooltip class="item" effect="dark" :content="venue.blurb?venue.blurb:venue.name" placement="top-start">

                  <div >
            <img  @click="addOrRemove(venue.id)" v-if="venue.image" :src="venue.image.medium.path" :title="venue.blurb?venue.blurb:venue.name"  width="250" height="100">
            <img  @click="addOrRemove(venue.id)" v-else src="http://blackmonk-saas.s3.amazonaws.com/static/themes/img/no-image.png"  :title="venue.blurb?venue.blurb:venue.name"  width="250" height="100">
<span style="display: inline-block;position: absolute;color: #fff;font-size: 1.2em;margin-left: 0px;margin-right: 0px;left: 0; right: 0;bottom: 22px;background: rgba(0, 0, 0, 0.4);" align="center">{{venue.name}}</span>
             <div class="mDa-dTa mRt8" style="    position: relative;
    bottom: 50px;text-align: center;">
   <a v-if="venue.urlFacebook" :href="venue.urlFacebook" target="_blank" class="iCn-fB" style="display: inline-block;background-color: #fffcfc;height: 19px;width: 17px;border-radius: 50%;"><i class="bUi-iCn-fB-16" aria-hidden="true"></i></a>
        <a v-if="venue.urlTwitter" :href="venue.urlTwitter" target="_blank" class="iCn-tW" style="display: inline-block;background-color: #fffcfc;height: 19px;width: 17px;border-radius: 50%;"><i class="bUi-iCn-tWr-16" aria-hidden="true"></i></a>
        <a v-if="venue.url" :href="venue.url" target="_blank" style="display: inline-block;background-color: #fffcfc;height: 19px;width: 17px;border-radius: 50%;"><i class="bUi-iCn-lInK-16" aria-hidden="true"></i></a>

        </div>
    <label @click="addOrRemove(venue.id)" class="round" :class="{active: checkedVenues.indexOf(venue.id)!=-1, inactive:checkedVenues.indexOf(venue.id)==-1 }"></label>


        </div>
</el-tooltip>

    </el-carousel-item>
  </el-carousel>
</div>
       <el-button @click="clearResults" v-if="filterEnabled && !isProcessing">Clear results</el-button>

        <div class="fd-cols mrb0 pd50 group">
            <!-- <template>
  <el-select v-model="defaultEventtype" placeholder="Select">
    <el-option
      v-for="item in eventTypeRadioOptions"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
</template> -->
            <label style="display: inline-block;">Filter Events: &nbsp;</label>
            <el-radio-group v-model="defaultEventtype">
                <el-radio-button v-cloak :label="item.value" v-for="item in eventTypeRadioOptions" :key="item.value">{{item.label}}</el-radio-button>
            </el-radio-group>
            <!-- <template v-for="key, val in eventTypeRadioOptions">
	<label :for="val" style="display: inline-block;float: left;margin-right: 14px;">
	<span class="cform-radio-container">
	    <input type="radio" class="cform-checkbox" :id="val" name="eventtype" :value="val" v-model="defaultEventtype">
	<span class="cform-radio-element"></span></span><span :title="key" style="position: relative;top: 3px;">{{key}}</span></label>
</template> -->
        </div>
        <ul class="modulesBrowseData tHcL mDa-lT mDa-oT-lT" style="clear: both;">
            <li class="mDa-gRp">
                <ul style="overflow: auto; max-height: 500px" v-loading="isProcessing" :element-loading-text="loading_msg">
                    <h3 v-show="!events.length && !isProcessing && !initLoad" align="center"> No matching events found!</h3>
                    <h3 v-show="requestError && !isProcessing" align="center"> Network Error!</h3>
                    <event v-for="event in events" :ev="event" :key="event.id"> </event>
                </ul>
            </li>
        </ul>
        <template>
            <div class="pGn pGn-bX pGn-cTr" v-if="totalPages > 1" style="position: fixed; bottom: 5%;width:100%">
                <ul style="display: table;margin: 0 auto;">
                    <li><a style="cursor: pointer;" v-show="pageNum > 1" @click="go(pageNum - 1)" class="bm_pgntn_anchr"><i class="bUi-iCn-aNg-lT-12"></i></a></li>
                    <li :class="{aCtV: pageNum == 1 ? true : false}">
                        <a style="cursor: pointer;" v-if="pageNum > 1" @click="go(1)">1</a>
                        <span v-else title="Page 1">1</span>
                    </li>
                    <li v-show="pages[0] > 2"><span>...</span></li>
                    <li v-for="page in pages" :class="{aCtV: pageNum == page ? true : false}">
                        <a style="cursor: pointer;" :title="'Page '+ page" class="bm_pgntn_anchr" @click="go(page)">{{page}}</a>
                    </li>
                    <li v-show="pages[pages.length-1] < totalPages - 1"><span>...</span></li>
                    <li v-if="totalPages > 2" :class="{aCtV: pageNum == totalPages ? true : false}">
                        <span v-if="pageNum == totalPages" :title="'Page' +totalPages">{{ totalPages }}</span>
                        <a style="cursor: pointer;" v-else @click="go(totalPages)">{{totalPages}}</a>
                    </li>
                    <li><a style="cursor: pointer;" v-show="pageNum < totalPages" @click="go(pageNum + 1)" class="bm_pgntn_anchr"><i class="bUi-iCn-aNg-rT-12"></i></a></li>
                </ul>
            </div>
        </template>
    </div>
</body>
<script src="main.js"></script>
</html>
